<% include header.ejs %>
  <h1>后台录入</h1>
  <a style="position:absolute;right:200px;top:110px;" href="/edit">编辑</a>
<hr>
<form class="form-horizontal form1" style="margin-top:20px;" method="post" action="/new" enctype="application/x-www-form-urlencoded">
  <div class="form-group">
    <label for="input1" class="col-sm-2 control-label">歌名</label>
    <div class="col-sm-10">
      <input name="name1" type="text" class="form-control" id="input1" placeholder="歌名">
    </div>
  </div>


  <div class="form-group">
    <label for="input2" class="col-sm-2 control-label">歌手</label>
    <div class="col-sm-10">
      <input name="singer" type="text" class="form-control" id="input2" placeholder="歌手">
    </div>
  </div>

  <div class="form-group">
    <label for="input3" class="col-sm-2 control-label">发布时间</label>
    <div class="col-sm-10">
      <input name="ptime" type="date" class="form-control" id="input3" placeholder="发布时间">
    </div>
  </div>

  <div class="form-group">
    <label for="input6" class="col-sm-2 control-label">歌词</label>
    <div class="col-sm-10">
      <textarea rows="3" cols="20" name="lyric"   class="form-control" id="input6" placeholder="歌词"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="input4" class="col-sm-2 control-label">简介</label>
    <div class="col-sm-10">
      <input name="detial" type="text" class="form-control" id="input4" placeholder="简介">
    </div>
  </div>


  
</form>

<form class="form-horizontal form2"  method='post' action='/ajax' enctype='multipart/form-data'>
  <label for="input5" class="col-sm-2 control-label">文件上传</label>
      <input name='inputFile',id="input5" type='file', multiple='mutiple'>
     <!--  <input class="inp" type="submit" value="上传"> -->
    </form>

<div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button id="submit" class="btn btn-default">提交</button>
        </div>
      </div>
      
<script type="text/javascript">
   $("#submit").click(function(e){
    e.preventDefault();
      $(".form1").submit();

       var formData = new FormData($( ".form2" )[0]);  
     $.ajax({  
          url: '/ajax' ,  
          type: 'POST',  
          data: formData,  
          async: false,  
          cache: false,  
          contentType: false,  
          processData: false,  
          success: function (returndata) {  
              alert("上传成功");  
          },  
          error: function (returndata) {  
              alert("上传失败");  
          }  
     });  
  });


</script>



</div>
<% include footer.ejs %>